/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #414f5d;
  --color-font-light: #919ca7;
  --color-white: #ffffff;
  --color-bg-base: #f5f8f9;
  --color-bg-header: linear-gradient(
      0deg,
      rgba(39, 56, 78, 0) 0%,
      rgba(39, 56, 78, 0.3) 100%
  );
  --color-bg-feature: linear-gradient(180deg, #e0ebee 0%, #e0ebee00 100%);
  --color-feature-item: linear-gradient(
      180deg,
      rgba(39, 56, 78, 0) 0%,
      rgba(39, 56, 78, 0.5) 100%
  );
  --color-bg-entry: #e0ebee;
  --color-bg-gradient-blue: linear-gradient(
      174.99deg,
      #75c2eb 0%,
      #43cfcf 50%,
      #4bd2d7 100%
  );
  --color-bg-gradient-light-blue: linear-gradient(
      134.57deg,
      #e4eff9 0%,
      #e3f3f3 50%,
      #b6def0 100%
  );
  --color-bg-gradient-light-green: linear-gradient(
      134.57deg,
      #e4f9f8 0%,
      #e3f3e9 50%,
      #c8f1c2 100%
  );
}

/*!
global > content-width
------------------------------
*/
/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Josefin Sans", sans-serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-default: 1;
  --z-index-negative: -1;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

textarea {
  resize: vertical;
  display: block;
}

select {
  cursor: pointer;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: inherit;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: auto;
  display: block;
}

dialog {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  color: inherit;
  border: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

iframe {
  vertical-align: bottom;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
:root {
  --base-vw: 380;
}
@media screen and (min-width: 768px) {
  :root {
    --base-vw: 1440;
  }
}

html {
  font-size: calc(100vw / var(--base-vw));
  background-color: var(--color-bg-base);
}

body {
  line-height: 1.7;
  font-size: 16rem;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  font-weight: 500;
}

* {
  letter-spacing: 0.05em;
}

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  margin: -1px !important;
}

/*!
component > button
------------------------------
*/
/*!
component > title
------------------------------
*/
/*!
layout > container
------------------------------
*/
/*!
layout > header
------------------------------
*/
.l-header {
  background-image: var(--color-bg-header);
  display: flex;
  align-items: center;
  padding-left: 20rem;
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;
  width: 100%;
  height: 64rem;
}
@media screen and (min-width: 768px) {
  .l-header {
    padding-left: 70rem;
    height: 106rem;
  }
}

.l-header-logo {
  width: 156rem;
  aspect-ratio: 156/36;
}
@media screen and (min-width: 768px) {
  .l-header-logo {
    width: 300rem;
    aspect-ratio: 300/48;
  }
}

.l-header-open-button,
.l-header-close-button {
  margin-left: auto;
  background-color: var(--color-white);
  width: 64rem;
  height: 64rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10rem;
  padding-bottom: 11rem;
}
.l-header-open-button img,
.l-header-close-button img {
  width: 20rem;
}
.l-header-open-button span,
.l-header-close-button span {
  font-family: var(--font-family-en);
  font-size: 12rem;
  font-weight: 400;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .l-header-open-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .l-header-close-button {
    display: none;
  }
}

.l-header-entry-button {
  background-image: var(--color-bg-gradient-blue);
  color: var(--color-white);
  width: 64rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 15rem;
}
@media screen and (min-width: 768px) {
  .l-header-entry-button {
    padding: 38rem 24rem 32rem;
    width: 181rem;
    display: grid;
    grid-template-columns: 1fr 24rem;
    gap: 4rem 38rem;
    justify-content: center;
    margin-left: 64rem;
  }
}

.l-header-entry-text-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 14rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .l-header-entry-text-en {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-end;
    font-size: 20rem;
  }
}

.l-header-entry-text-ja {
  font-weight: bold;
  font-size: 10rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .l-header-entry-text-ja {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: flex-start;
    font-size: 12rem;
  }
}

.l-header-entry-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .l-header-entry-icon {
    display: grid;
    place-items: center;
    width: 24rem;
    aspect-ratio: 1;
    border: 1rem solid var(--color-white);
    border-radius: 100vh;
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .l-header-entry-icon img {
    width: 7rem;
    height: 12rem;
  }
}

.l-header-menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: var(--color-bg-gradient-blue);
}
@media screen and (min-width: 768px) {
  .l-header-menu {
    display: contents;
  }
}

.l-header-menu-head {
  display: flex;
  align-items: center;
  height: 64rem;
  padding-left: 20rem;
}
@media screen and (min-width: 768px) {
  .l-header-menu-head {
    padding-left: 0;
  }
}

.l-header-menu-logo {
  width: 156rem;
}
@media screen and (min-width: 768px) {
  .l-header-menu-logo {
    display: none;
  }
}

.l-header-nav {
  margin-inline: 20rem;
  margin-top: 32rem;
}
@media screen and (min-width: 768px) {
  .l-header-nav {
    margin: 0;
    margin-left: auto;
  }
}

.l-header-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24rem;
}
@media screen and (min-width: 768px) {
  .l-header-nav-list {
    flex-direction: row;
    gap: 32rem;
  }
}

.l-header-nav-link {
  display: flex;
  align-items: center;
  gap: 8rem;
  color: var(--color-white);
}

.l-header-nav-text-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 24rem;
}
@media screen and (min-width: 768px) {
  .l-header-nav-text-en {
    display: none;
  }
}

.l-header-nav-text-ja {
  font-size: 14rem;
}
@media screen and (min-width: 768px) {
  .l-header-nav-text-ja {
    font-weight: 700;
    font-size: 16rem;
  }
}

.l-header-nav-entry-button {
  margin-top: 40rem;
  margin-inline: 20rem;
  height: 73rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 8rem;
  padding-inline: 31rem;
  border-radius: 100vh;
  color: var(--color-white);
  border: 1rem solid var(--color-bg-base);
  background-color: rgb(from var(--color-white) r g b/20%);
}
@media screen and (min-width: 768px) {
  .l-header-nav-entry-button {
    display: none;
  }
}
.l-header-nav-entry-button::after {
  content: "";
  display: block;
  width: 12rem;
  height: 20rem;
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  justify-self: flex-end;
  background-color: var(--color-white);
}

.l-header-nav-entry-text-en {
  font-size: 24rem;
  font-family: var(--font-family-en);
  font-weight: 400;
}

.l-header-nav-entry-text-ja {
  font-size: 14rem;
}

/*!
layout > footer
------------------------------
*/
.l-footer {
  translate: 0 -40rem;
  padding-block: 56rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .l-footer {
    margin-inline: 70rem;
    translate: 0 -130rem;
  }
}

@media screen and (min-width: 768px) {
  .l-footer-head {
    display: grid;
    grid-template-columns: 1fr auto 203rem;
    align-items: center;
    gap: 32rem;
  }
}

.l-footer-logo {
  width: 156rem;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .l-footer-logo {
    margin: 0;
    width: 283rem;
    height: 40rem;
  }
}

.l-footer-nav {
  margin-top: 40rem;
}
@media screen and (min-width: 768px) {
  .l-footer-nav {
    margin-top: 0;
  }
}

.l-footer-nav-list {
  margin-inline: 21rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16rem 32rem;
}
@media screen and (min-width: 768px) {
  .l-footer-nav-list {
    flex-wrap: nowrap;
    gap: 32rem;
    margin: 0;
  }
}

.l-footer-nav-link {
  font-weight: bold;
}

.l-footer-corporate-link {
  margin-top: 32rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  width: 203rem;
  height: 52rem;
  background-image: var(--color-bg-gradient-light-blue);
  border-radius: 100vh;
  font-weight: bold;
  font-size: 14rem;
}
@media screen and (min-width: 768px) {
  .l-footer-corporate-link {
    margin: 0;
  }
}
.l-footer-corporate-link::after {
  content: "";
  display: block;
  width: 7rem;
  height: 12rem;
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: var(--color-font-base);
}

.l-footer-info {
  margin-top: 56rem;
}
@media screen and (min-width: 768px) {
  .l-footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.l-footer-links {
  display: flex;
  gap: 30rem;
  justify-content: center;
}

.l-footer-link {
  font-size: 12rem;
}

.l-footer-copy {
  display: block;
  font-family: var(--font-family-en);
  margin-top: 22rem;
  font-size: 12rem;
  font-weight: 400;
}

/*!
page > top > top-kv
------------------------------
*/
.top-kv {
  height: 600rem;
  background-image: url("../img/bg-top-kv-sp.png");
  background-size: cover;
  background-position: center;
  padding-inline: 12rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-kv {
    height: 800rem;
    background-image: url("../img/bg-top-kv.png");
    padding-inline: 388rem;
  }
}

.top-kv-img {
  position: absolute;
  top: 243rem;
  left: 12rem;
}
@media screen and (min-width: 768px) {
  .top-kv-img {
    left: 388rem;
    width: 664rem;
  }
}

/*!
page > top > top-news
------------------------------
*/
.top-news {
  padding-block: 56rem;
}
@media screen and (min-width: 768px) {
  .top-news {
    padding-block: 64rem;
    background-color: var(--color-bg-base);
    width: 1370rem;
    translate: 0 -80rem;
  }
}

.top-news-title {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding-left: 20rem;
}
@media screen and (min-width: 768px) {
  .top-news-title {
    padding-left: 120rem;
  }
}

.top-news-title-en {
  font-weight: 400;
  font-size: 32rem;
  line-height: 1.5;
  font-family: var(--font-family-en);
}
@media screen and (min-width: 768px) {
  .top-news-title-en {
    font-size: 42rem;
  }
}

.top-news-title-ja {
  font-size: 14rem;
  color: var(--color-font-light);
}

.top-news-wrap {
  margin-top: 32rem;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .top-news-wrap {
    padding-left: 120rem;
    display: flex;
    align-items: center;
  }
}

.top-news-list {
  margin-left: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 257rem);
  gap: 24rem;
  overflow: scroll;
}
@media screen and (min-width: 768px) {
  .top-news-list {
    margin-left: 0;
    padding: 0;
    grid-template-columns: repeat(3, 300rem);
    gap: 32rem;
  }
}

.top-news-item {
  flex-shrink: 0;
}

.top-news-meta {
  color: var(--color-font-light);
  font-size: 14rem;
  display: flex;
  justify-content: space-between;
  margin-top: 13rem;
}

.top-news-date {
  font-weight: 400;
  font-family: var(--font-family-en);
}

.top-news-description {
  font-weight: 700;
  font-size: 18rem;
  line-height: 1.5;
  margin-top: 7rem;
}
@media screen and (min-width: 768px) {
  .top-news-description {
    font-size: 20rem;
  }
}

.top-news-cta {
  margin: 32rem 20rem 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  width: 117rem;
  height: 44rem;
  border: 1rem solid var(--color-font-base);
  border-radius: 100vh;
  font-weight: 600;
  font-family: var(--font-family-en);
  font-size: 14rem;
}
@media screen and (min-width: 768px) {
  .top-news-cta {
    width: 100rem;
    height: 100rem;
    margin: 0;
    margin-left: 56rem;
  }
}
.top-news-cta::after {
  content: "";
  display: block;
  width: 7rem;
  height: 12rem;
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: var(--color-font-base);
}

/*!
page > top > top-greeting
------------------------------
*/
.top-greeting {
  padding-block: 48rem 120rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-greeting {
    display: grid;
    gap: 120rem;
    grid-template-columns: 500rem 1fr;
    padding-block: 96rem 219rem;
    translate: 0 -80rem;
  }
}

.top-greeting-img {
  width: 264rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-greeting-img {
    width: 100%;
  }
}
.top-greeting-img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20rem;
  right: -17rem;
  background-color: #c6ddff;
  width: 100%;
  height: 111rem;
  z-index: var(--z-index-negative);
}
@media screen and (min-width: 768px) {
  .top-greeting-img::after {
    height: 211rem;
  }
}

.top-greeting-body {
  margin: 68rem 20rem 0 20rem;
}
@media screen and (min-width: 768px) {
  .top-greeting-body {
    margin: 76rem 0 0 0;
  }
}

.top-greeting-title {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.top-greeting-title-en {
  font-weight: 400;
  font-size: 32rem;
  line-height: 1.5;
  font-family: var(--font-family-en);
}
@media screen and (min-width: 768px) {
  .top-greeting-title-en {
    font-size: 42rem;
  }
}

.top-greeting-title-ja {
  font-size: 14rem;
  color: var(--color-font-light);
}

.top-greeting-copy {
  font-weight: 700;
  font-size: 32rem;
  margin-top: 32rem;
}
@media screen and (min-width: 768px) {
  .top-greeting-copy {
    margin-top: 56rem;
    font-size: 40rem;
  }
}
.top-greeting-copy span {
  display: block;
}
@media screen and (min-width: 768px) {
  .top-greeting-copy span:nth-child(1), .top-greeting-copy span:nth-child(2) {
    display: inline;
  }
}

.top-greeting-text {
  margin-top: 32rem;
  line-height: 2.2;
}

@media screen and (min-width: 768px) {
  .top-greeting-text-wrap span {
    display: block;
  }
}

.top-greeting-text-wrap02 span {
  display: block;
}
.top-greeting-text-wrap02 span:last-of-type {
  margin-top: 24rem;
}

.top-greeting-cta {
  margin-top: 32rem;
  font-weight: bold;
  font-size: 14rem;
  width: 203rem;
  height: 52rem;
  border: 1rem solid var(--color-font-base);
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
}
@media screen and (min-width: 768px) {
  .top-greeting-cta {
    margin-top: 56rem;
    font-size: 16rem;
    gap: 32rem;
    width: 254rem;
    height: 63rem;
  }
}
.top-greeting-cta::after {
  content: "";
  display: block;
  width: 7rem;
  height: 12rem;
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: var(--color-font-base);
}

.top-greeting-img02 {
  position: absolute;
  z-index: var(--z-index-negative);
  bottom: 65rem;
  right: 0;
  width: 132rem;
  height: 200rem;
}
@media screen and (min-width: 768px) {
  .top-greeting-img02 {
    width: 300rem;
    height: 300rem;
    bottom: 106rem;
    right: 84rem;
  }
}

.top-greeting-img03 {
  position: absolute;
  z-index: var(--z-index-negative);
  width: 100%;
  height: 204rem;
  bottom: 310rem;
  left: 0;
}
@media screen and (min-width: 768px) {
  .top-greeting-img03 {
    width: 940rem;
    height: 332rem;
    bottom: 334rem;
    right: 0;
    left: auto;
  }
}

/*!
page > top > top-feature
------------------------------
*/
.top-feature {
  background-image: var(--color-bg-feature);
  padding: 120rem 0;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-feature {
    padding: 120rem 100rem 160rem;
    margin: 0 70rem;
    translate: 0 -80rem;
  }
}

.top-feature-head {
  padding: 0 20rem;
}
@media screen and (min-width: 768px) {
  .top-feature-head {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 166rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .top-feature-title {
    width: 203rem;
  }
}

.top-feature-text-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 32rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .top-feature-text-en {
    font-size: 42rem;
  }
}

.top-feature-text-ja {
  font-size: 14rem;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 73rem 1fr;
  align-items: center;
  gap: 8rem;
}
@media screen and (min-width: 768px) {
  .top-feature-text-ja {
    grid-template-columns: 122rem 1fr;
  }
}
.top-feature-text-ja::before {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background-color: var(--color-font-light);
}

.top-feature-text {
  line-height: 2;
  margin-top: 32rem;
}
@media screen and (min-width: 768px) {
  .top-feature-text {
    margin: 0;
  }
}

.top-feature-list {
  margin-top: 40rem;
  padding: 0 14rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;
}
@media screen and (min-width: 768px) {
  .top-feature-list {
    margin-top: 70rem;
    grid-template-columns: repeat(3, 352rem);
    gap: 22rem;
    padding: 0;
  }
}

.top-feature-item {
  height: 280rem;
  background-image: url("../img/bg-top-feature.png");
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-feature-item {
    height: 440rem;
  }
}
.top-feature-item:nth-child(2) {
  background-image: url("../img/bg-top-feature02.png");
}
.top-feature-item:nth-child(3) {
  background-image: url("../img/bg-top-feature03.jpg");
}

.top-feature-article {
  background-image: var(--color-feature-item);
  margin-top: auto;
  padding: 24rem 20rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .top-feature-article {
    padding: 32rem;
  }
}

.top-feature-number {
  font-family: var(--font-family-en);
  font-weight: 600;
  font-size: 18rem;
  line-height: 1;
}

.top-feature-item-title {
  font-weight: bold;
  font-size: 22rem;
}

.top-feature-item-subtitle {
  font-family: var(--font-family-en);
  font-weight: 600;
  font-size: 14rem;
  line-height: 1;
  text-transform: uppercase;
}

.top-feature-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 308rem;
  height: 301rem;
}
@media screen and (min-width: 768px) {
  .top-feature-img {
    top: 141rem;
    left: 0;
    right: auto;
    width: 745rem;
  }
}

/*!
page > top > top-interview
------------------------------
*/
.top-interview {
  padding: 80rem 0;
  margin: 0 20rem;
  translate: 0 -40rem;
  background-color: var(--color-bg-base);
  position: relative;
}
@media screen and (min-width: 768px) {
  .top-interview {
    padding: 120rem 0 176rem;
    margin: 0 70rem;
    translate: 0 -160rem;
  }
}

.top-interview-bg {
  position: relative;
  z-index: var(--z-index-negative);
}
@media screen and (min-width: 768px) {
  .top-interview-bg {
    translate: 0 -80rem;
  }
}

.top-interview-bg02 {
  position: absolute;
  width: 100%;
  height: 204rem;
  top: 464rem;
  left: 0;
}

.top-interview-title {
  width: 195rem;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .top-interview-title {
    width: 256rem;
  }
}

.top-interview-text-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 32rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .top-interview-text-en {
    font-size: 42rem;
  }
}

.top-interview-text-ja {
  color: var(--color-font-light);
  white-space: nowrap;
  font-weight: 500;
  font-size: 14rem;
  display: grid;
  grid-template-columns: 45rem 1fr 45rem;
  align-items: center;
  gap: 8rem;
}
@media screen and (min-width: 768px) {
  .top-interview-text-ja {
    grid-template-columns: 76rem 1fr 76rem;
  }
}
.top-interview-text-ja::before, .top-interview-text-ja::after {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: var(--color-font-light);
}

.top-interview-content {
  margin-top: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 44rem;
}
@media screen and (min-width: 768px) {
  .top-interview-content {
    grid-template-columns: repeat(2, 524rem);
    justify-content: center;
  }
}

.top-interview-item {
  height: 338rem;
}
@media screen and (min-width: 768px) {
  .top-interview-item {
    height: 447rem;
  }
  .top-interview-item:nth-child(2) {
    translate: 0 56rem;
  }
}

.top-interview-img {
  height: 254rem;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .top-interview-img {
    height: 390rem;
  }
}

.top-interview-img--nurse {
  background-image: url("../img/img-top-interview.png");
}

.top-interview-img--staff {
  background-image: url("../img/img-top-interview02.png");
}

.top-interview-copy {
  display: grid;
  gap: 4rem;
  position: absolute;
  bottom: 16rem;
  left: 16rem;
}
@media screen and (min-width: 768px) {
  .top-interview-copy {
    gap: 8rem;
    bottom: 24rem;
    left: 24rem;
  }
}
.top-interview-copy span {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--color-white);
  padding: 3rem 8rem;
  font-weight: bold;
  font-size: 20rem;
}
@media screen and (min-width: 768px) {
  .top-interview-copy span {
    font-size: 22rem;
  }
}

.top-interview-button {
  margin: 24rem auto 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 7rem;
  gap: 32rem;
  width: 279rem;
  height: 60rem;
  border-radius: 100vh;
  font-weight: bold;
  font-size: 14rem;
}
@media screen and (min-width: 768px) {
  .top-interview-button {
    font-size: 16rem;
    width: 304rem;
    height: 63rem;
  }
}
.top-interview-button::after {
  content: "";
  width: 100%;
  height: 12rem;
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: var(--color-font-base);
}

.top-interview-button--nurse {
  background-image: var(--color-bg-gradient-light-blue);
}

.top-interview-button--staff {
  background-image: var(--color-bg-gradient-light-green);
}

/*!
page > top > top-entry
------------------------------
*/
.top-entry {
  background-color: var(--color-bg-entry);
  translate: 0 -40rem;
}
@media screen and (min-width: 768px) {
  .top-entry {
    margin-inline: 70rem;
    display: grid;
    grid-template-columns: 1fr 560rem;
    translate: 0 -130rem;
  }
}

.top-entry-img {
  width: 100%;
  height: 240rem;
}

.top-entry-body {
  padding: 48rem 20rem;
}
@media screen and (min-width: 768px) {
  .top-entry-body {
    padding: 78rem 72rem;
  }
}

.top-entry-title-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 32rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .top-entry-title-en {
    font-size: 42rem;
  }
}

.top-entry-title-ja {
  color: var(--color-font-light);
  font-size: 14rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8rem;
  align-items: center;
  width: 115rem;
}
@media screen and (min-width: 768px) {
  .top-entry-title-ja {
    width: 151rem;
  }
}
.top-entry-title-ja::before {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background-color: var(--color-font-light);
}

.top-entry-text {
  margin-top: 20rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .top-entry-text {
    margin-top: 30rem;
  }
}
.top-entry-text span {
  display: block;
}

.top-entry-cta {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  color: var(--color-white);
  background-image: var(--color-bg-gradient-blue);
  border-radius: 100vh;
  width: 322rem;
  height: 73rem;
  padding-inline: 32rem;
}
@media screen and (min-width: 768px) {
  .top-entry-cta {
    margin-top: 30rem;
    width: 322rem;
  }
}
.top-entry-cta::after {
  content: "";
  width: 11rem;
  height: 20rem;
  background-color: var(--color-white);
  -webkit-mask-image: url("../img/icon-chevron.svg");
          mask-image: url("../img/icon-chevron.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  justify-self: flex-end;
}

.top-entry-cta-text-en {
  font-family: var(--font-family-en);
  font-weight: 400;
  font-size: 24rem;
}

.top-entry-cta-text-ja {
  font-size: 14rem;
}/*# sourceMappingURL=style.css.map */