@use "../../global" as g;

/*!
page > top > top-greeting
------------------------------
*/
.top-greeting {
    padding-block: 48rem 120rem;
    position: relative;

    @include g.mq() {
        display: grid;
        gap: 120rem;
        grid-template-columns: 500rem 1fr;
        padding-block: 96rem 219rem;
        translate: 0 -80rem;
    }
}

.top-greeting-img {
    width: 264rem;
    position: relative;

    @include g.mq() {
        width: 100%;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -20rem;
        right: -17rem;
        background-color: #c6ddff;
        width: 100%;
        height: 111rem;
        z-index: var(--z-index-negative);

        @include g.mq() {
            height: 211rem;
        }
    }
}

.top-greeting-body {
    margin: 68rem 20rem 0 20rem;

    @include g.mq() {
        margin: 76rem 0 0 0;
    }
}

.top-greeting-title {
    display: flex;
    align-items: center;
    gap: 12rem;
}

.top-greeting-title-en {
    font-weight: 400;
    font-size: 32rem;
    line-height: 1.5;
    font-family: var(--font-family-en);

    @include g.mq() {
        font-size: 42rem;
    }
}

.top-greeting-title-ja {
    font-size: 14rem;
    color: var(--color-font-light);
}

.top-greeting-copy {
    font-weight: 700;
    font-size: 32rem;
    margin-top: 32rem;

    @include g.mq() {
        margin-top: 56rem;
        font-size: 40rem;
    }

    span {
        display: block;

        @include g.mq() {
            &:nth-child(1),
            &:nth-child(2) {
                display: inline;
            }
        }
    }
}

.top-greeting-text {
    margin-top: 32rem;
    line-height: 2.2;
}

.top-greeting-text-wrap {
    @include g.mq() {
        span {
            display: block;
        }
    }
}

.top-greeting-text-wrap02 {
    span {
        display: block;
    }

    span:last-of-type {
        margin-top: 24rem;
    }
}

.top-greeting-cta {
    margin-top: 32rem;
    font-weight: bold;
    font-size: 14rem;
    width: 203rem;
    height: 52rem;
    border: 1rem solid var(--color-font-base);
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16rem;

    @include g.mq() {
        margin-top: 56rem;
        font-size: 16rem;
        gap: 32rem;
        width: 254rem;
        height: 63rem;
    }

    &::after {
        content: "";
        display: block;
        width: 7rem;
        height: 12rem;
        mask-image: url("../../../img/icon-chevron.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-font-base);
    }
}

.top-greeting-img02 {
    position: absolute;
    z-index: var(--z-index-negative);
    bottom: 65rem;
    right: 0;
    width: 132rem;
    height: 200rem;

    @include g.mq() {
        width: 300rem;
        height: 300rem;
        bottom: 106rem;
        right: 84rem;
    }
}

.top-greeting-img03 {
    position: absolute;
    z-index: var(--z-index-negative);
    width: 100%;
    height: 204rem;
    bottom: 310rem;
    left: 0;

    @include g.mq() {
        width: 940rem;
        height: 332rem;
        bottom: 334rem;
        right: 0;
        left: auto;
    }
}
