@use "../global" as g;

/*!
page > top > top-entry
------------------------------
*/
.top-entry {
    background-color: var(--color-bg-entry);

    @include g.mq() {
        margin-inline: 70rem;
        display: grid;
        grid-template-columns: 1fr 560rem;
    }
}

.top-entry-img {
    width: 100%;
    height: 240rem;
}

.top-entry-body {
    padding: 48rem 20rem;

    @include g.mq() {
        padding: 78rem 72rem;
    }
}

.top-entry-title-en {
    font-family: var(--font-family-en);
    font-weight: 400;
    font-size: 32rem;
    line-height: 1.5;

    @include g.mq() {
        font-size: 42rem;
    }
}

.top-entry-title-ja {
    color: var(--color-font-light);
    font-size: 14rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8rem;
    align-items: center;
    width: 115rem;

    @include g.mq() {
        width: 151rem;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1rem;
        background-color: var(--color-font-light);
    }
}

.top-entry-text {
    margin-top: 20rem;
    line-height: 2;

    @include g.mq() {
        margin-top: 30rem;
    }

    span {
        display: block;
    }
}

.top-entry-cta {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    color: var(--color-white);
    background-image: var(--color-bg-gradient-blue);
    border-radius: 100vh;
    width: 322rem;
    height: 73rem;
    padding-inline: 32rem;

    @include g.mq() {
        margin-top: 30rem;
        width: 322rem;
    }

    &::after {
        content: "";
        width: 11rem;
        height: 20rem;
        background-color: var(--color-white);
        mask-image: url("../img/icon-chevron.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        justify-self: flex-end;
    }
}

.top-entry-cta-text-en {
    font-family: var(--font-family-en);
    font-weight: 400;
    font-size: 24rem;
}

.top-entry-cta-text-ja {
    font-size: 14rem;
}
