@use "../global" as g;

/*!
page > top > top-interview
------------------------------
*/
.top-interview {
    padding: 80rem 0;
    margin: -40rem 20rem 0;
    background-color: var(--color-bg-base);
    position: relative;

    @include g.mq() {
        padding: 120rem 104rem;
        margin: -80rem 70rem 0;
    }
}

.top-interview-bg02 {
    position: absolute;
    width: 100vw;
    top: 464rem;
    left: -20rem;
    pointer-events: none;

    @include g.mq() {
        top: 190rem;
        left: -70rem;
    }
}

.top-interview-title {
    width: 195rem;
    margin-inline: auto;

    @include g.mq() {
        width: 256rem;
    }
}

.top-interview-text-en {
    font-family: var(--font-family-en);
    font-weight: 400;
    font-size: 32rem;
    line-height: 1.5;

    @include g.mq() {
        font-size: 42rem;
    }
}

.top-interview-text-ja {
    color: var(--color-font-light);
    white-space: nowrap;
    font-weight: 500;
    font-size: 14rem;
    display: grid;
    grid-template-columns: 45rem 1fr 45rem;
    align-items: center;
    gap: 8rem;

    @include g.mq() {
        grid-template-columns: 76rem 1fr 76rem;
    }

    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 1rem;
        background-color: var(--color-font-light);
    }
}

.top-greeting-body {
    position: relative;
    z-index: 2;
}

.top-interview-content {
    margin-top: 40rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 44rem;
    position: relative;
    z-index: 2;

    @include g.mq() {
        grid-template-columns: repeat(2, 524rem);
        justify-content: center;
    }
}

.top-interview-item {
    @include g.mq() {
        &:nth-child(2) {
            margin-top: 56rem;
        }
    }
}

.top-interview-img {
    height: 254rem;
    position: relative;
    background-size: cover;
    background-position: center;

    @include g.mq() {
        height: 390rem;
    }
}

.top-interview-img--nurse {
    background-image: url("../img/img-top-interview.png");
}

.top-interview-img--staff {
    background-image: url("../img/img-top-interview02.png");
}

.top-interview-copy {
    display: grid;
    gap: 4rem;
    position: absolute;
    bottom: 16rem;
    left: 16rem;

    @include g.mq() {
        gap: 8rem;
        bottom: 24rem;
        left: 24rem;
    }

    span {
        display: block;
        width: fit-content;
        background-color: var(--color-white);
        padding: 3rem 8rem;
        font-weight: bold;
        font-size: 20rem;

        @include g.mq() {
            font-size: 22rem;
        }
    }
}

.top-interview-button {
    margin: 24rem auto 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto 7rem;
    gap: 32rem;
    width: 279rem;
    height: 60rem;
    border-radius: 100vh;
    font-weight: bold;
    font-size: 14rem;

    @include g.mq() {
        font-size: 16rem;
        width: 304rem;
        height: 63rem;
    }

    &::after {
        content: "";
        width: 100%;
        height: 12rem;
        mask-image: url("../img/icon-chevron.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-font-base);
    }
}

.top-interview-button--nurse {
    background-image: var(--color-bg-gradient-light-blue);
}

.top-interview-button--staff {
    background-image: var(--color-bg-gradient-light-green);
}
