/*!
global > color
------------------------------
*/

:root {
    --color-font-base: #414f5d;
    --color-font-light: #919ca7;
    --color-white: #ffffff;
    --color-bg-base: #f5f8f9;
    --color-bg-header: linear-gradient(
        0deg,
        rgba(39, 56, 78, 0) 0%,
        rgba(39, 56, 78, 0.3) 100%
    );
    --color-bg-feature: linear-gradient(180deg, #e0ebee 0%, #e0ebee00 100%);
    --color-feature-item: linear-gradient(
        180deg,
        rgba(39, 56, 78, 0) 0%,
        rgba(39, 56, 78, 0.5) 100%
    );
    --color-bg-entry: #e0ebee;
    --color-bg-gradient-blue: linear-gradient(
        174.99deg,
        #75c2eb 0%,
        #43cfcf 50%,
        #4bd2d7 100%
    );
    --color-bg-gradient-light-blue: linear-gradient(
        134.57deg,
        #e4eff9 0%,
        #e3f3f3 50%,
        #b6def0 100%
    );
    --color-bg-gradient-light-green: linear-gradient(
        134.57deg,
        #e4f9f8 0%,
        #e3f3e9 50%,
        #c8f1c2 100%
    );
}
