@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
    padding-block: 56rem;
    text-align: center;

    @include g.mq() {
        margin-inline: 70rem;
    }
}

.l-footer-head {
    @include g.mq() {
        display: grid;
        grid-template-columns: 1fr auto 203rem;
        align-items: center;
        gap: 32rem;
    }
}

.l-footer-logo {
    width: 156rem;
    margin-inline: auto;

    @include g.mq() {
        margin: 0;
        width: 283rem;
        height: 40rem;
    }
}

.l-footer-nav {
    margin-top: 40rem;

    @include g.mq() {
        margin-top: 0;
    }
}

.l-footer-nav-list {
    margin-inline: 21rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16rem 32rem;

    @include g.mq() {
        flex-wrap: nowrap;
        gap: 32rem;
        margin: 0;
    }
}

.l-footer-nav-link {
    font-weight: bold;
}

.l-footer-corporate-link {
    margin-top: 32rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    width: 203rem;
    height: 52rem;
    background-image: var(--color-bg-gradient-light-blue);
    border-radius: 100vh;
    font-weight: bold;
    font-size: 14rem;

    @include g.mq() {
        margin: 0;
    }

    &::after {
        content: "";
        display: block;
        width: 7rem;
        height: 12rem;
        mask-image: url("../img/icon-chevron.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-font-base);
    }
}

.l-footer-info {
    margin-top: 56rem;

    @include g.mq() {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.l-footer-links {
    display: flex;
    gap: 30rem;
    justify-content: center;
}

.l-footer-link {
    font-size: 12rem;
}

.l-footer-copy {
    display: block;
    font-family: var(--font-family-en);
    margin-top: 22rem;
    font-size: 12rem;
    font-weight: 400;
}
