@use "../../global" as g;

/*!
page > top > top-feature
------------------------------
*/
.top-feature {
    background-image: var(--color-bg-feature);
    padding: 120rem 0;
    position: relative;

    @include g.mq() {
        padding: 120rem 100rem 160rem;
        margin: 0 70rem;
        translate: 0 -80rem;
    }
}

.top-feature-head {
    padding: 0 20rem;

    @include g.mq() {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 166rem;
        padding: 0;
    }
}

.top-feature-title {
    @include g.mq() {
        width: 203rem;
    }
}

.top-feature-text-en {
    font-family: var(--font-family-en);
    font-weight: 400;
    font-size: 32rem;
    line-height: 1.5;

    @include g.mq() {
        font-size: 42rem;
    }
}

.top-feature-text-ja {
    font-size: 14rem;
    white-space: nowrap;
    display: grid;
    grid-template-columns: 73rem 1fr;
    align-items: center;
    gap: 8rem;

    @include g.mq() {
        grid-template-columns: 122rem 1fr;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1rem;
        background-color: var(--color-font-light);
    }
}

.top-feature-text {
    line-height: 2;
    margin-top: 32rem;

    @include g.mq() {
        margin: 0;
    }
}

.top-feature-list {
    margin-top: 40rem;
    padding: 0 14rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24rem;

    @include g.mq() {
        margin-top: 70rem;
        grid-template-columns: repeat(3, 352rem);
        gap: 22rem;
        padding: 0;
    }
}

.top-feature-item {
    height: 280rem;
    background-image: url("../../../img//bg-top-feature.png");
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    position: relative;

    @include g.mq() {
        height: 440rem;
    }

    &:nth-child(2) {
        background-image: url("../../../img/bg-top-feature02.png");
    }

    &:nth-child(3) {
        background-image: url("../../../img/bg-top-feature03.jpg");
    }
}

.top-feature-article {
    background-image: var(--color-feature-item);
    margin-top: auto;
    padding: 24rem 20rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @include g.mq() {
        padding: 32rem;
    }
}

.top-feature-number {
    font-family: var(--font-family-en);
    font-weight: 600;
    font-size: 18rem;
    line-height: 1;
}

.top-feature-item-title {
    font-weight: bold;
    font-size: 22rem;
}

.top-feature-item-subtitle {
    font-family: var(--font-family-en);
    font-weight: 600;
    font-size: 14rem;
    line-height: 1;
    text-transform: uppercase;
}

.top-feature-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 308rem;
    height: 301rem;

    @include g.mq() {
        top: 141rem;
        left: 0;
        right: auto;
        width: 745rem;
    }
}
