@use "../../global" as g;

/*!
page > top > top-news
------------------------------
*/
.top-news {
    padding-block: 56rem;

    @include g.mq() {
        padding-block: 64rem;
        background-color: var(--color-bg-base);
        width: 1370rem;
        translate: 0 -80rem;
    }
}

.top-news-title {
    display: flex;
    align-items: center;
    gap: 12rem;
    padding-left: 20rem;

    @include g.mq() {
        padding-left: 120rem;
    }
}

.top-news-title-en {
    font-weight: 400;
    font-size: 32rem;
    line-height: 1.5;
    font-family: var(--font-family-en);

    @include g.mq() {
        font-size: 42rem;
    }
}

.top-news-title-ja {
    font-size: 14rem;
    color: var(--color-font-light);
}

.top-news-wrap {
    margin-top: 32rem;
    overflow: hidden;

    @include g.mq() {
        padding-left: 120rem;
        display: flex;
        align-items: center;
    }
}

.top-news-list {
    margin-left: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 257rem);
    gap: 24rem;
    overflow: scroll;

    @include g.mq() {
        margin-left: 0;
        padding: 0;
        grid-template-columns: repeat(3, 300rem);
        gap: 32rem;
    }
}

.top-news-item {
    flex-shrink: 0;
}

.top-news-meta {
    color: var(--color-font-light);
    font-size: 14rem;
    display: flex;
    justify-content: space-between;
    margin-top: 13rem;
}

.top-news-date {
    font-weight: 400;
    font-family: var(--font-family-en);
}

.top-news-description {
    font-weight: 700;
    font-size: 18rem;
    line-height: 1.5;
    margin-top: 7rem;

    @include g.mq() {
        font-size: 20rem;
    }
}

.top-news-cta {
    margin: 32rem 20rem 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    width: 117rem;
    height: 44rem;
    border: 1rem solid var(--color-font-base);
    border-radius: 100vh;
    font-weight: 600;
    font-family: var(--font-family-en);
    font-size: 14rem;

    @include g.mq() {
        width: 100rem;
        height: 100rem;
        margin: 0;
        margin-left: 56rem;
    }

    &::after {
        content: "";
        display: block;
        width: 7rem;
        height: 12rem;
        mask-image: url("../../../img/icon-chevron.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--color-font-base);
    }
}
